*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
body {
    font-family: system-ui, sans-serif;
    font-weight: 400;
    background-color: #fbf9fa;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header {
    position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;

}
.header__container {
    display: flex;
    align-items: center;
    max-width: 97%;
    min-height: 4vw;
    margin: 0 auto;
}
.header__menu {
    flex: 1 1 auto;
    padding-left: 3vw;
}
.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__list {
    display: flex;
    
}
.menu__item:not(:last-child) {
    margin-right: 6vw;
}
.menu__item:last-child{
    margin-right: 2vw;
}
.menu__link {
    color: #000;
    font-weight: 400;
    font-size: 1.7em;
    font-weight: 300;
}




.agro {
    background-image: url(../img/wheat.jpg);
    /* min-height: 700px; */
    background-repeat: no-repeat;
    background-position: top left;
    background-size:40%;
}
.agro__container{
    display: flex;
    max-width: 97%;
    margin: 0 auto;
    min-height: 40vw;
    align-items: center;
    justify-content: flex-end;
}
.agro__content {
    width: 60%;
    padding-top: 4vw;
}
.agro__text {
    font-size: 2.5em;
    line-height: 1.4em;
    margin-bottom: 1.5vw;
    text-align: justify;
    font-weight: 300;
}
.agro__text span{
    color: #e2ba7b;
    font-weight: 500;
}
.agro__btn{
    display: inline-block;
    border-left: 1px solid #65aa44;
    border-right: 1px solid #65aa44;
    padding: 1vw 4vw;
}
.agro__button {
    color: #000;
    font-size: 0.9em;
    font-weight: 400;
}

/* --------------------- */
.container {
    max-width: 92%;
    margin: 0 auto;
}
.title {
    width: 100%;
    font-weight: 500;
    font-size: 2.2em;
    padding: 0px 0px 10px 10px;
    margin-bottom: 1.5vw;
    border-left: 9px solid #65aa44;
    border-bottom: 1px solid #65aa44;
}
.bold-title {
    font-weight: 700;
    font-size: 1.1em;
}
.text {
    font-weight: 400;
    color: rgb(126, 126, 126);
    line-height: 1.5em;
}
.text-marg {
    margin-bottom: 1vw;
}
/* --------------------- */
.group {
    padding-top: 2vw;
}
.group__container {
    padding-bottom: 2vw;
}

.group__items {
    display: flex;
}
.group__column {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.333%;
}
.group__column:nth-child(2){
    align-items: center;
}
.group__column:last-child{
    align-items: flex-end;
}

.group__item {
    flex: 1 0 auto;
}
.item-group {
    width: 89%;
}
.item-group__title {
    margin-bottom: 1.3vw;
    font-size: 1.5em;
    font-weight: 700;
    color: #65aa44;
}



.offer {
    padding-top: 2vw;
    background-color: #fff;
}
.offer__content {
    padding-bottom: 2vw;
}

.offer__items {
    display: flex;
    flex-wrap: wrap;
}
.offer__column {
    display: flex;
    flex-direction: column;
    flex: 0 1 20%;
}
.offer__item {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
}


.item-offer__title {
    padding-left: 1.5vw;
}

.price {    
    padding-top: 2vw;
}
.price__container {
    padding-bottom: 3vw;
}



.price__table {
    border: 2px solid #e2ba7b;
    margin: 0 -1px 1vw 0;
    text-align: center;
    width: 100%;
}

.price__table tr th:not(:last-child),
.price__table tr td:not(:last-child){
    border-right: 3px solid #e2ba7b;
}

.price__table tr th, .price__table thead th {
    font-size: 0.9em;
    font-weight: 700;
    line-height: 1.5em;
    padding: 0.8vw 2vw;
   
}
.price__table tr td {
    border-top: 3px solid #e2ba7b;
    padding: 0.8vw 2vw;
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: 300;
    
}
.price__table tr td:first-child {
    font-weight: 700;
}

.price__text-sub {
    font-style: italic;
}


.offer-2 {
    padding-top: 2vw;
    background-color: #fff;
}
.offer-2__container {
    padding-bottom: 3vw;
}


.offer-2__list {
    padding-left: 1.7vw;
}
.offer-2__item {
    align-items: center;
    position: relative;
    padding-left: 20px;
}
.offer-2__item::before {
    content: "•";
    font-size: 1.5em; 
    color: #e2ba7b;
    position: absolute;
    left: 0px;
}


.news {
    padding-top: 2vw;
}
.news__container {
    padding-bottom: 2vw;
}

.news__items {
    display: flex;
}
.news__column {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.333%;
    padding: 0px 1.2vw;
}
.news__column:first-child{
    padding-left: 0vw;
    justify-content: flex-start;
}
.news__column:last-child{
    padding-right: 0vw;
    align-items: center;
}
.news__item {
    display: flex;
    flex: 1 0 auto;
    
}
.item-news {
    width: 100%;
	background: #fbf9fa;
    box-shadow: 0px 0px 15px 0px rgba(199, 197, 199, 0.7);
	display: flex;
	padding: 1vw 1vw;
    align-items: center;
}

.img-item-news__item {
    width: 8vw;
    height: 11vw; 
}

.body-item-news {
    padding: 0vw 0vw 0vw 1vw;
}
.body-item-news__title {
    line-height: 1.3em;
    font-weight: 700;
}
.body-item-news__date {
    font-style: italic;
}


.footer {
    padding-top: 2vw;
    background-color: #f5f5f5;
}
.footer__container {
    padding-bottom: 2vw;
    max-width: 96%;
    margin: 0 auto;
    display: flex;
}

.lists {
    padding-left: 1vw;
}
.footer-items {
    margin-bottom: 1vw;
}



.footer__contacts {
    flex: 0 1 7%;
}

.contacts-footer__title {
    margin-bottom: 2vw;
}

.items-contacts-footer__item {
    margin-bottom: 2vw;
}
.items-contacts-footer__img {
    width: 2vw;
}

.footer__representation {
    flex: 0 1 31%;
}
.representation-footer {
    display: flex;
}


.footer__office {
    flex: 0 1 31%;
}
.office-footer {
    display: flex;
}


.footer__switzerland {
    flex: 0 1 31%;
}
.switzerland-footer {
    display: flex;
}
.switzerland-footer__title {
    width: 120px;
}



@media screen and (max-width: 991px) {
    .header__container {
        max-width: 98%;
        min-height: 8vw;
        justify-content: flex-end;
    }
    .header__menu {
        max-width: 70%;
    }
    .menu__link {
        font-size: 1.3em;
    }
    .menu__list {
        display: flex;
        justify-content: flex-end;
        
    }
    .menu__item:not(:last-child) {
        margin-right: 5vw;
    }
    .menu__item:last-child{
        margin-right: 1vw;
    }
    .agro {
        background-repeat: no-repeat;
        background-position: top left;
        background-size:60%;
    }
    .agro__container{
        min-height: 60vw;
    }
    .agro__content {
        padding-top: 8vw;
    }
    .agro__text {
        font-size: 1.8em;
        line-height: 1.4em;
        margin-bottom: 1.5vw;
        text-align:unset;
        font-weight: 300;
    }
    .offer__items {
        flex-direction: column;
        height: 22vw;
    }
    .offer__item {
        margin-bottom: 2vw;
    }
    .offer__content {
        padding-bottom: 0vw;
    }
    .price__table tr th, .price__table thead th {
        padding:  1.6vw 1.6vw;
    }
    .price__table tr td {
        padding:  1.6vw 1.6vw;
    }
    .news__items {
        flex-direction: column;
    }
    .item-news {
        align-items: center;
    }
    .news__column{
        padding: 0vw;
        align-items: center;
        justify-content: center;
    }
    .news__column:not(:last-child){
        padding: 0vw 0vw 3vw 0vw;
    }
    .img-item-news__item {
        width: 17vw;
        height: 17vw; 
        
    }
    .body-item-news__date {
        margin-bottom: 2vw;    
    }
    .body-item-news {
        padding: 0vw 0vw 0vw 3vw;
    }

    .footer__container {
        flex-direction: column;
    }
    .contacts-footer__items {
        display: flex;
        align-items: end;
    }
    .contacts-footer__title {
        flex: 0 1 32%;
        margin-bottom: 0.5vw;
    }
    .contacts-footer__items {
        display: flex;
        
    }
    .items-contacts-footer__item {
        margin-right: 0.5vw;
    }
    

    .representation-footer__title {
        flex: 0 1 32%;
    }
    .office-footer__title {
        flex: 0 1 32%;
    }
    .office-footer__lists {
        flex: 0 1 68%;
    }
    .switzerland-footer__title {
        flex: 0 1 32%;
    }
    .switzerland-footer__lists {
        flex: 0 1 68%;
    }
}
@media screen and (max-width: 768px) {
    .header__container {
        max-width: 100%;
        min-height: 16vw;
        justify-content: unset;
    }

    .header__menu {
        flex: 1 1 auto;
        padding-left: 0vw;
        max-width: 100%;
        display: flex;
        justify-content: unset;
    }
    .menu {
        display: flex;
        justify-content: center;
    }
    .menu__body {
        min-width: 100%;
        display: flex;
        justify-content: center;
    }
    .menu__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 4vw;
        justify-content: space-around;
        width: max-content;
        align-items: center;
        min-width: 100%;
    }
    .menu__item {
        margin-right: 0vw;
        text-align: center;
        margin: 0vw;
    }
    .menu__link{
        font-weight: 500;
    }
    .agro{
        margin-bottom: 10vw;
    }
    .agro__container {
        max-width: 95%;
    }
    .agro__content {
        width: 100%;
        text-align: center;
        padding-top: 22vw;
    }
    .agro__text{
        font-size: 1.4em;
    }
    .agro__button{
        font-size: 1.3em;
    }

    .group__items{
        flex-direction: column;
    }
    .item-group {
        width: 100%;
    }
    .group__column{
        margin-bottom: 2vw;
    }
    .group__column:nth-child(2) {
        align-items: flex-start;
    }
    .group__column:last-child {
        align-items: flex-start;
    }

    
    .price{
        display: none;
    }
    .title{
        font-weight: 400;
        font-size: 1.5em;
    }
    .offer-2__item {
        padding-left: 30px;
    }
    .offer-2__item::before {
        content: "•";
        font-size: 1.5em; 
        color: #e2ba7b;
        position: absolute;
        left: 10px;
    }

    .offer__items{
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
    }
    .item-offer__img{
        flex: 0 1 7%;
    }
    .item-offer__title{
        flex: 0 1 91%;
        padding-left: 8vw;
    }
    .body-item-news__date{
        margin-bottom: 0.5vw;
    }
    .img-item-news__item{
        width: 25vw;
        height: 25vw;
    }
    .items-contacts-footer__item {
        margin-right: 2vw;
    }
    .items-contacts-footer__img {
        width: 5vw;
        vertical-align: center;
    }
}

