@import "variable";
body {
    display: flex;
    align-items: center;
    margin-top: 15vh;
    flex-direction: column;
    background-color: $bgMain1;
    background-image: linear-gradient(0deg, $bgMain1 0%, $bgMain2 100%);
    background-repeat:no-repeat;
    background-size: cover;
}

.hidden {
    display: none !important;
}

.main {

    &__container {
        background-color: $bgPink;
        padding: 2vh 6vh 6vh 6vh;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info {
    }

    &__title {
        text-align: center;
        margin-bottom: 3vh;
    }
    &__score {
        text-align: center;
        margin-bottom: 3vh;
    }

    &__rules {
        font-weight: 500;
        font-size: 22px;
        line-height: 1.5em;
        letter-spacing: 0.2em;
    }

    &__choose {
        width: 70vh;
        display: grid;
        justify-content: center;
        grid-template-columns: 90%;
        margin-bottom: 4vh;
    }

    &__result {
        font-size: 22px;
    }

    &__buttons {
        display: flex;
        gap: 6vh;
    }
    &__reset {

    }
    
}
.result {
    &__first, 
    &__second {
        font-weight: 700;
    }   
    &__round,
    &__winner {
        text-align: center;
    }
}
.choose {
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
    }
    &__character {
        display: flex;
        justify-content: center;
        letter-spacing: 2px;
        font-size: 22px;
        font-weight: 600;
        align-items: center;
        border-radius: 10px;
        background-color: rgb(233, 179, 179);
        height: 10vh;
        &:hover {
            background-color: rgb(242, 156, 156);
        }
        &:active {
            background-color: rgb(238, 162, 162);
            border: 1px solid rgb(240, 108, 108);
        }
    }
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #535353;
    text-decoration: none;
    height: 5vh;
    width: 20vh;
    border: 1px solid;
    font-size: 17px;
    background-color:#F0F0F0;
    border-radius: 15px;
    &:hover{
        background-color:#c8c8c8;
        color: #fff;
        font-weight: 600;
    }
}


.result {
}

